<template>
    <div class="overflow-hidden">
        <div v-if="props.activeTab === 1" class="flex">
            <div class="bg-white w-1/2">
                <div class="flex flex-col gap-1">

                    <div v-for="attribute in attributes" :key="attribute.name"
                        class="flex justify-around w-full m-auto leading-7">

                        <div class="flex w-2/3 font-semibold">
                            {{ attribute.name }}
                            <a class="ml-1 text-xs my-auto font-normal text-left truncate max-w-4" v-if="attribute.message">{{
                                attribute.message }}</a>
                        </div>

                        <input v-if="attribute.type !== 'multiselect'"
                            class="border-gray-500 border-2 rounded-md w-48 h-6 px-2" :type="attribute.type"
                            v-model="attribute.value" :value="attribute.value" :min="attribute.min" :max="attribute.max" />

                        <Multiselect mode="tags" v-else v-model="attribute.value" :options="attribute.options" />
                    </div>


                </div>
                <button class="bg-black rounded-2xl w-48 h-8 border-2 border-white text-white m-auto my-4"
                    @click="getRecommendations()">Submit</button>
            </div>

            <div class="w-1/2 gap-2 text-left overflow-auto flex flex-col h-[70vh] py-4">
                <div v-if="contentMessage.length > 0" class="my-auto p-24 text-center">{{ contentMessage }}</div>
                <div class="border-black border-2 rounded-md text-sm flex flex-col w-2/3 m-auto p-2" v-else
                    v-for="recommendation in songRecommendations.tracks" :key="recommendation">
                    <div class="flex flex-row justify-between">
                        <div class="font-bold text-2xl truncate w-3/4">
                            {{ recommendation.name }}
                            <div class="font-normal truncate max-w-1/4 text-[20px]">
                                <a v-for="artist, i in recommendation.artists" :key="artist">
                                    {{ i < recommendation.artists?.length - 1 ? artist.name + ", " : artist.name }} </a>
                            </div>
                        </div>
                        <img :src="recommendation.album?.images[0]?.url" class="h-20 w-20" />
                    </div>
                    <div class="flex justify-between mt-2">
                        <div class="font-semibold truncate max-w-1/4">
                            Popularity: {{ recommendation.popularity >= 0 ? recommendation.popularity : "Unknown" }}
                        </div>
                        <a class="text-[#1ed760] font-bold underline truncate max-w-1/4"
                            :href="recommendation.external_urls?.spotify">Open in Spotify</a>
                        <div class="font-semibold truncate max-w-1/4">
                            Length: {{ convertMillisecondsToMinutes(recommendation.duration_ms) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script setup>
import { defineProps, ref, onMounted } from "vue";
import { getSongRecommendations } from "../../api/spotify.js";
import Multiselect from "@vueform/multiselect";

onMounted(() => {
  window.addEventListener('genres-set', (event) => {
    spotifyGenres.value = event.detail;
  });
});

const props = defineProps(["activeTab"]);
const spotifyGenres = ref(localStorage.getItem("spotify_genres")?.replace("/[/]", "").split(",") || []);
const songRecommendations = ref({});
const contentMessage = ref("");
const attributes = ref([
    { name: "Reference Artists", key: "seed_artists", value: "", type: "text", message: "Format: '4NHQUGzhtTLFvgF5SZesLK' (up to 5)" },
    { name: "Reference Tracks", key: "seed_tracks", value: "", type: "text", message: "Format: '0c6xIDDpzE81m2q797ordA' (up to 5)" },
    { name: "Min Danceability", key: "min_danceability", value: 0, type: "number", min: 0, max: 1, message: "0-1" },
    { name: "Max Danceability", key: "max_popularity", value: 1, type: "number", min: 0, max: 1, message: "0-1" },
    { name: "Min Popularity", key: "min_popularity", value: 0, type: "number", min: 0, max: 100, message: "0-100" },
    { name: "Max Popularity", key: "max_danceability", value: 100, type: "number", min: 0, max: 100, message: "0-100" },
    { name: "Target Danceability", key: "target_danceability", value: 1, type: "number", min: 0, max: 1, message: "0-1" },
    { name: "Min Energy", value: 0, key: "min_energy", type: "number", min: 0, max: 1, message: "0-1" },
    { name: "Max Energy", value: 1, key: "max_energy", type: "number", min: 0, max: 1, message: "0-1" },
    { name: "Min Tempo", value: 0, key: "min_tempo", type: "number", message: "0+" },
    { name: "Max Tempo", value: 140, key: "max_tempo", type: "number" },
    { name: "Target Tempo", value: 124, key: "target_tempo", type: "number" },
    { name: "Reference Genres", key: "seed_genres", value: [], type: "multiselect", options: spotifyGenres },
]);

function formatRecommendationRequest() {
    //11dFghVXANMlKmJXsNCbNl,0c6xIDDpzE81m2q797ordA
    let returnString = "";
    attributes.value.map((att) => {
        if (att.type === "number") {
            returnString = returnString.concat(`${att.key}=${att.value}&`);
        }
        else if (att.type === "text" && att.value.trim().length > 0) {
            returnString = returnString.concat(`${att.key}=`);
            const values = att.value.split(",");
            values.map((string, i) => {
                if (i < values.length - 1) {
                    returnString = returnString.concat(`${string}%2C`);
                }
                else {
                    returnString = returnString.concat(`${string}`);
                }
            });
            returnString = returnString.concat("&");
        }
        else if (att.type === "multiselect" && att.value.length > 0) {
            returnString = returnString.concat(att.key + '=');
            att.value.map((val, i) => {
                if (i < att.value.length - 1) {
                    returnString = returnString.concat(val + '%2C');
                }
                else {
                    returnString = returnString.concat(val + "&");
                }
            });
        }
    });
    returnString = returnString.slice(0, -1);
    return returnString;
}

function convertMillisecondsToMinutes(ms) {
    const minutes = Math.floor(ms / 60000);
    const seconds = ((ms % 60000) / 1000).toFixed(0);
    return minutes + "m " + (seconds < 10 ? '0' : '') + seconds + "s";
}

async function getRecommendations() {
    contentMessage.value = "";
    if (attributes.value.find((attr) => attr.key === 'seed_genres').value.length < 1
        && attributes.value.find((attr) => attr.key === 'seed_tracks').value.trim().length < 1
        && attributes.value.find((attr) => attr.key === 'seed_artists').value.trim().length < 1) {
        contentMessage.value = "Must include at least one Reference Genre, Reference Artist, or Reference Track";
    }
    if (contentMessage.value.trim().length < 1) {
        const requestString = formatRecommendationRequest();
        songRecommendations.value = await getSongRecommendations(requestString);
        if (songRecommendations.value.error || songRecommendations.value.tracks.length < 1) {
            contentMessage.value = "Your search returned no results - try adjusting parameters. Reference Artists & Tracks should be comma separated.";
        }
    }
}

</script>

<style src="@vueform/multiselect/themes/default.css"></style>
<style lang="css">
.multiselect {
    width: 193px;
    height: 80px;
    border-width: 2px;
    border-radius: 6px;
    border-color: rgb(107 114 128);
    margin: 0px;
    padding: 0px;

    &.is-active {
        box-shadow: none;
        border-width: 2px;
        border-radius: 6px;
        border-color: rgb(107 114 128);
    }
}

.multiselect-wrapper {
    overflow: hidden;
    overflow: scroll;
    height: 60px;
}

.multiselect-tag {
    background: #1ed760;
}
</style>