<template>
  <div class="overflow-hidden h-[90vh]">
    <div class="font-semibold bg-[#1ed760] bg-opacity-50 p-2">
      <div class="mx-16 flex justify-between h-8">
      <button class="border-2 px-2 rounded-md border-black" @click="redirectToSpotifyAuthorizeEndpoint()">
          Log In
        </button>
        <a class="my-auto">{{ loggedInState }}</a>
        <button class="border-2 px-2 rounded-md border-black" @click="logout()">
          Log Out
        </button>
      </div>
    </div>
  <div class="w-full flex">
    <button class="w-1/3" :class="activeTab === 1 ? 'font-bold text-black' : 'text-gray-500'" @click="activeTab=1">
      set recommendations
      </button>
      <button class="w-1/3" :class="activeTab === 2 ? 'font-bold text-black' : 'text-gray-500'" @click="activeTab=2">
        song analysis
      </button>
      <button class="w-1/3" :class="activeTab === 3 ? 'font-bold text-black' : 'text-gray-500'" @click="activeTab=3">
        playlist builder
      </button>
  </div>
    <TabContent :activeTab="activeTab" class="my-8"/>
  </div>
</template>

<script setup>
import { onMounted, ref } from "vue"; 
import TabContent from "./components/TabContent.vue";
import { logout, redirectToSpotifyAuthorizeEndpoint } from "../api/spotify.js";
const activeTab = ref(1);
const loggedInState = ref(localStorage.getItem("login_state_string"));
onMounted(() => {
  window.addEventListener('user-logged-in', (event) => {
    loggedInState.value = event.detail;
  });
});
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
